include ../modules/injected/injected
include ../modules/page/page

include ../modules/head/head
include ../modules/header/header
include ../modules/footer/footer
include ../modules/page__terms/page__terms



- var pageId = 0;

doctype html
html(lang=config.lang)

  head
    +head(head.home)

  +page()
    +inject('header')
      +header()

    +inject('page__terms')
      +page__terms()

    +inject('footer')
      +footer()
