.dashboard 
  width 100%
  background: #3a225a
  border-radius(5px)
  overflow hidden
  box-shadow 0 0 15px rgba(0, 0, 0, .2)
  margin-top 10px
    
  input 
    background white 
    border-color white
    font-size 16px
    margin-top 15px
    
  label 
    font-size 14px
    position: relative
    margin-bottom 15px
    color white
    font-weight $light
    
  .form__label_btc
    &:after
      font-size 16px
      top 44px
  
.module__account-dash 
  background: #432b67
  padding 18px 30px 30px 30px
  width 862px

.page__wrapper
  
  &_account
    background: linear-gradient(to right, rgba(91, 59, 116, 0.98) 0%, rgba(91, 59, 116, 0.98) 50%, rgba(58, 42, 92, 0.98) 100%)