.module__pagination-1
  position: relative
  
  .pagination 
    position: relative

  ul
    align-items: center;
    display flex
    justify-content center
    
  li
    margin 0 2px
    text-align: center
    
  .pagination  a
    text-align: center
    font-size 14px 
    height 48px 
    width @height
    line-height @height
    border-radius(4px)
    background $pale-grey
    color $charcoal-grey
    text-decoration: none
    
  li:nth-last-child(3) a
    background: transparent
    &:hover 
      background: transparent
    
  li.active a 
  li:hover a 
  .previous_page:hover a
  .next_page:hover a
    background-color $button-background
    color $button-color
    
  .previous_page.disabled a
  .next_page.disabled a
    cursor default
    opacity 1
    background-color $silver-two
    color $charcoal-grey
    border-color $silver-two
    &:hover 
      cursor no-drop
      
      
  .previous_page a
  .next_page a
    height 46px 
    min-width 125px
    padding 0 10px
    text-align: center
    align-items: center;
    justify-content: center;
    opacity 1
    background: $sun-yellow
    color $charcoal-grey
    border-radius(5px)

  .next_page 
    position: absolute
    right 0px
    
  .previous_page 
    position: absolute
    left 0px
    
  // .btn 
  //   display none

.module__pagination-2
  padding-top 25px
  
  ul
    align-items: center;
    display flex
    justify-content center
    
  li
    margin 0 2px
    text-align: center
    
  .pagination  a
    text-align: center
    font-size 14px 
    height 48px 
    width @height
    line-height @height
    border-radius(4px)
    background $pale-grey
    color $charcoal-grey
    text-decoration: none
    
  li.active a 
  li:hover a 
  .previous_page:hover a
  .next_page:hover a
    background-color $button-background
    color $button-color
    
  li:nth-last-child(2).disabled a
  li:last-child.disabled a
    cursor default
    opacity 1
    background-color $silver-two
    color $charcoal-grey
    border-color $silver-two
    &:hover 
      cursor no-drop
      
      
  li:nth-last-child(2) a
  li:last-child a
    height 46px 
    min-width 125px
    padding 0 10px
    text-align: center
    align-items: center;
    justify-content: center;
    opacity 1
    background: $sun-yellow
    color $charcoal-grey
    border-radius(5px)
    
  li:nth-last-child(2)
    display flex
    margin-left auto
    
  li:last-child
    margin-right 0px !important
    display flex
    
  li:nth-last-child(4) a
    background: transparent
    &:hover 
      background: transparent