include ../module__registration/module__registration

mixin page__registration(data)
  
  +module__registration()

//- mixin page__registration-2(data)
  
//-   +module__registration-2()

//- mixin page__registration-3(data)
  
//-   +module__registration-3()
    