mixin module__terms(data)
  - var bemClass = 'module__terms'
  <!-- module__terms -->  
  .module__terms&attributes(attributes)
    .container 
      .content
        p <strong>EFFECTIVE FROM:</strong> 21.12.2018
        p The basis of any cooperation, including the business of our company and the process of cooperation with our clients or providing products and services is the legality in all types of our business. It is in this sense that we are absolutely transparent and reliable company with the best multiple mechanisms for protection of our clients.
        h4 1. The capacity of this Agreement.
        p What is the legal basis of your company’s activity?
        p This Agreement establishes a contractual relationship between Cashluxe Holding LTD (hereinafter referred to as the Company, We, Us, Our, Our, Our own) and the client (hereinafter referred to as the Client, You, Your)). You must carefully study and accept the terms of this Agreement before entering into contractual relations with the Company.
        h4 2. Our activities
        p We excute the accumulation of invested money and carry out general and strategic management of all trading processes, as well as check all future transactions for risks and conduct trading on currency and cryptocurrency exchanges, as well as conclude transactions on Forex.
        h4 3. Products and services
        p We provide a particular list of products and services exhaustively stated on the Company’s website (hereinafter referred to as the Site) LINK and carry out financial management of the Clients’ investment funds, providing a certain percentage in the form of dividends.
        h4 4. Account Management
        p <strong>4.1 Personal account registration</strong>
        p In order for you to have the opportunity to invest and / or create your own affiliate structure and receive a partner reward, you have to register a personal account.
        p You agree to provide precise, up-to-date and and complete information about yourself during the registration process. If you are an authorized representative of the company, you declare that you have the authority to enter into this Agreement on behalf of the company. The law obliges Us to receive, verify and record identification information about each person entering into an Investment Agreement. Thus, when you register a personal account, you are entitled to conclude an Investment Agreement with Us and We will ask you to provide certain documents to verify your identity and to verify information provided by you during registration, for example, an identity card or passport, utility bill. services, a bank statement or any identity document issued by a government agency. We reserve the right to refuse to provide services or cancel them at Our discretion or on the basis of legislative restrictions applicable to Us.
        p After you register your personal account, you must keep in a safe place the username, password and PIN-code that you can use each time you use Our services. Do everything necessary to prevent this information from being made publicly available, and do not share it with others. You are responsible for protecting this information. If you have lost any of the above data, or if you suspect that someone is using your data, you must immediately notify Us in writing.
        p <strong>4.2 Isolated accounts</strong>
        p We are a state-controlled financial services company that operates transparently throughout all relationships with you. All funds that We receive from you are treated as “Customer Money” and are stored in separate bank accounts (isolated accounts) in a trustworthy banking institution of Our choice. The law obliges Us to conduct regular checks and controls on the maintenance and management of these accounts by such banking institutions.
        p <strong>4.3 Currency</strong>
        ul 
          li All amounts required for investment are payable in the currency that you choose when you create an investment with us.
          li All amounts that have been invested using cryptocurrency operators can only be withdrawn using the same cryptocurrency operators.
          li All amounts, the balance of which is accumulated in USD, can be withdrawn to any electronic payment system available to work with us.
        p <strong>4.4 Ways to recharge your account</strong>
        p We only accept funds available for operations (funds that are available in your electronic account / wallet and available for investment with Us).
        p <strong>4.5 Withdrawal and Deposit of Funds - Top up Your Account Balance</strong>
        p In order for Us to proceed with the execution of a withdrawal order, you must provide information about your payment details.
        p When depositing money using cryptocurrency operators, there may be delays in replenishing the account due to the peculiarities of the blockchain-system operation.
        p Paying using e-wallets: if you decide to deposit funds using e-wallets, you must comply with the rules and requirements of service providers. You may also be subject to additional fees and other restrictions initiated by your service providers. Read the terms and conditions of your service provider in this regard. We will credit the amount received by us from your service provider in full to your account balance, with no internal fees. Please note that We may be forced to perform withdrawals in a different way, and not through the same service provider that you used for the initial deposit of money, if required by law and regulations - anti-money laundering legislation).
        p Restrictions on depositing funds: In addition, we draw your attention to the fact that, at Our discretion, We are entitled to impose certain restrictions on the funds contributed.
        p <strong>4.8 Inactive Accounts</strong>
        p The Client’s account for which no transactions were conducted for a fixed period of twelve (12) consecutive months will be considered an inactive account. Accounts with an account balance of zero may be closed.
        h4 5. Termination
        p Created investments can not be terminated early (until the full expiration of the investment proposal).
        p The term of work at the time of this Agreement is 300 (three hundred) calendar days.  At the same time, We may suspend the operation of the inversion plan and stop charging dividends to any Client if:
        ul 
          li There has been a significant violation of any article of this Agreement and / or any unfair action, for example, unauthorized actions and / or abuses that may jeopardize Our reputation or business; misleading actions were performed, false statements were made, fraudulent information or distortion of facts was disseminated;
          li Bankruptcy, failure, the introduction of external control in respect of any of the parties;
          li Force majeure circumstances of any etymology, both from your and from our side.
        p We also reserve the right to suspend or terminate operations on your account due to regulatory restrictions applicable to us by state supervisory authorities by a court decision.
        p Upon termination, We have the right to close or cancel all obligations except insurance and / or under Investment Agreements, and all funds will be returned to you after We hold the amounts of losses incurred by us. We would like to inform you that you may be charged fees by financial institutions (for instance, electronic payment systems) using which you conduct transactions with Us.
        h4 6. Intellectual property
        p All intellectual property in relation to our own platforms, products and services belongs to us. We only give you access and allow you to use platforms for investment transactions. Intellectual property includes, without limitation, any copyright on materials, the Site, processes, source code, related websites, patents, design, databases, trademarks, methods, know-how, trade secrets, business plans, advertising and marketing materials in any form. We reserve all rights, property rights and interest in all Our Intellectual Property Rights arising from this Agreement.
        h4 7. Usage
        ul 
          li We grant you a non-exclusive, non-assignable license to access and use Our Site, which We operate, and to use Our products and services. You agree not to attempt to access or use Our Site, any platforms and applications (hereinafter referred to as “System”) that are owned by Us or operated by We for any purpose not expressly permitted in this Agreement, including, without limitation, the following actions :
          li Copying, mixing or transferring copies, leasing, sub-licensing, distributing, transferring, adapting, updating, modifying, transferring or renting together, engineering analysis, dismantling, decompiling, making changes to Our Intellectual Property, in part or in whole;
          li Modification, enhancement or improvement of the System;
          li Making changes to any and all contents of Our online accounts; use of the System (or any part thereof) for storage or archiving in any form of any data obtained through the System for any purpose, without Our prior consent.
        h4 8. Unauthorized actions
        p 8.1 You agree and acknowledge that you will not use our products and services for the purposes of conducting Unauthorized Activities.
        p 8.2 The term “unauthorized activity” means any action, including the following examples, but not limited to:
        p 8.2.1 legalization of proceeds from crime (money laundering),
        p 8.2.2 creating more than one active account by one Client;
        p 8.2.3 the creation of an unjustified number of accounts registered under oneself in order to obtain an increased partner reward (the so-called “cheat”);
        p 8.2.4 abuse of the insurance guarantee offered by us or the use of a fake identity card in the preparation of the Investment Agreement;
        p 8.2.5 suspicious financial activities; the special nature of depositing and withdrawing funds;
        p 8.2.6 incorrect communication with other Clients;
        p 8.2.7 use of spam technology and similar technologies.
        p We reserve the right to cancel the account or limit any transaction and / or immediately terminate the Investment Agreement with you in cases where we have reason to believe that the transaction involves Unauthorized Activities.
  <!-- end of module__terms -->