.module__currency
  
  .icon 
    width 30px 
    height @width
    margin-right 10px
    opacity: .5
    trs()
    cursor pointer
    
  &__item:hover .icon
  .active .icon
    opacity: 1
    
  &__item.active &__st 
    font-weight bold
    
  &__st 
    text-transform: uppercase
    cursor pointer
    margin-left 4px

    
    
