mixin module__notification(data)
  - var bemClass = 'module__notification'
  <!-- module__notification -->
  .module__notification&attributes(attributes).jsVisible  
  <!-- end of module__notification -->