// Zeplin - Native - Colors
$black            = #121212
$purple           = #3A205A
$grey             = #343553


$dark-sky-blue    = #377adb
$water-blue       = #1665d8
$green            = #0f891f
$medium-green     = #34aa44
$rusty-red        = #d03418
$tomato           = #e6492d
$blue             = #004dbe
$sun-yellow       = #fbd133
$marigold         = #ffc900
$amethyst         = #a560c7
$mango            = #f6ab2f
$mango            = #ffab2b
$white            = #ffffff
$pale-grey        = #f6f9fd
$very-light-blue  = #e8ecef
$cloudy-blue      = #b5c1cd
$bluey-grey       = #9ea0a5
$slate-grey       = #6b6c6f
$blue-grey        = #778ca2
$charcoal-grey    = #3e3f42
$white-0          = rgba(255, 255, 255, 0)
$dark-60          = rgba(19, 24, 32, 0.6)
$bg-color         = #5520ed
$pale-grey-two    = #eeeff1
$silver-two       = #e6e6e7
$brown-grey       = #9b9b9b
$brownish-grey    = #727272
$silver           = #bbc2c7
$bluish-grey      = #7c8f98
$slate            = #41545e
$dark             = #2e3f47
$piss-yellow      = #efcc13
$clear-blue       = #229fff
$scarlet          = #d0021b
$frog-green       = #67b110
$very-light-pink  = #fff9f4
$lipstick         = #c91046
$pumpkin-orange   = #ff7300
$metallic-blue    = #4c698b
$dark-grey-blue   = #344962
$very-light-pink-two = #dcdcdc
$brown-grey       = #808080
$dark             = #131f2d
$brown-grey-two   = #9b9b9b
$scarlet          = #d0021b
$dark-grass-green = #417505


$brown            =  #e0914c
$dark             =  #003258
$yellow           =  #dcc842
$soft-yellow      =  #ffeebd
$link             =  #3d98f2
$aqua             =  #82d6fe
$dark-aqua        =  #025958
$soft-aqua        =  #518fa6
$orange           =  #f17300
$purple2          =  #5b3b74
$soft-purple      =  #a496ae
$pink             =  #402f65
$soft-pink        =  #90174b
$red              =  #d62121
$milk             =  #e5e1d0
$gold             =  #daa100
$soft             =  #f9f9fc
$grey2            =  #aeadad
$grey3            =  #6f6f6f


$text             =  #333333
$heading          =  #003258
$border           =  #dddddd
$border-grey      =  #484848
$dash-border      =  #ececec


$hover            =  $yellow
$button-hover     =  $blue


// Input colors - readonly - disabled - succes - error
$readonlyBg       =  $white
$readonlyBorder   =  $very-light-blue
$readonlyColor    =  $cloudy-blue

$disabledBg       =  $very-light-blue
$disabledBorder   =  $very-light-blue
$disabledColor    =  $blue-grey

$success          =  $medium-green
$error            =  $tomato
$information      =  $dark-sky-blue
$warning          =  $mango