body 
  font-family $body-font
  -webkit-font-smoothing: antialiased
  min-width: $body-min-width
  max-width: $body-max-width
  margin 0 auto
  
// Heading margin //
h1, h2, h3, h4, h5, h6
  margin 20px 0
   
  
// Slider //
.slick-slider
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;

.slick-list.draggable
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  

// Text functions //
.dash-title 
  font-size 60px 
  color #1e1e1e
  

// Content 
.content 
  p 
    color $text
    
  h1, h2, h3, h4, h5, h6
    text-align left
    font-family $bold
    
  li 
    font-size 15px 
    line-height 21px
    color $text
    font-family $regular
    padding-left 4px
    p 
      padding-bottom 10px
  
  ul
    list-style: disc;
    padding-left 16px

    ul 
      padding-left 20px 
      
  strong 
    font-family $bold 
