// @media
// only screen and (-webkit-min-device-pixel-ratio: 2)      and (max-width: 5120px),
// only screen and (   min--moz-device-pixel-ratio: 2)      and (max-width: 5120px),
// only screen and (     -o-min-device-pixel-ratio: 2/1)    and (max-width: 5120px),
// only screen and (        min-device-pixel-ratio: 2)      and (max-width: 5120px),
// only screen and (                min-resolution: 192dpi) and (max-width: 5120px),
// only screen and (                min-resolution: 2dppx)  and (max-width: 5120px) { 

//   html {
//     zoom: 2;
//   }

// }


// @media
// only screen and (-webkit-min-device-pixel-ratio: 2)      and (max-width: 3000px),
// only screen and (   min--moz-device-pixel-ratio: 2)      and (max-width: 3000px),
// only screen and (     -o-min-device-pixel-ratio: 2/1)    and (max-width: 3000px),
// only screen and (        min-device-pixel-ratio: 2)      and (max-width: 3000px),
// only screen and (                min-resolution: 192dpi) and (max-width: 3000px),
// only screen and (                min-resolution: 2dppx)  and (max-width: 3000px) { 

//   html {
//     zoom: 1.5;
//   }

// }


// @media
// only screen and (-webkit-min-device-pixel-ratio: 2)      and (max-width: 1920px),
// only screen and (   min--moz-device-pixel-ratio: 2)      and (max-width: 1920px),
// only screen and (     -o-min-device-pixel-ratio: 2/1)    and (max-width: 1920px),
// only screen and (        min-device-pixel-ratio: 2)      and (max-width: 1920px),
// only screen and (                min-resolution: 192dpi) and (max-width: 1920px),
// only screen and (                min-resolution: 2dppx)  and (max-width: 1920px) { 

//   html {
//     zoom: 0;
//   }

// }


// +width-max(1920px)
//   html
//     zoom 0
    

// Media queries, example +width-range(10em, 20em)
// +width-max($container-width)
 

// iPadi pro 
// +width-max(1366px)


// iPad 
// +width-max(900px)


// iPad mini
// +width-max(768px)


// iPohne 6+
// +width-max(414px)


// iPhone 6
// +width-max(375px)


// iPhone 4 5 and 4s 5S
// +width-max(320px)
