sprites(sprites = false)
  if sprites
    @import 'classesSprite.min.css'
fontawesome(fontawesome = false)
  if fontawesome
    @import 'plugins/all.min.css'
animate-css(animate = false)
  if animate
    @import 'plugins/animate.css'
bxslider(bxslider = false)
  if bxslider
    @import 'plugins/bxslider.css'
select(select = false)
  if select
    @import 'plugins/select2.min.css'
slick(slick = false)
  if slick
    @import 'plugins/slick.css'
customScrollbar(customScrollbar = false)
  if customScrollbar
    @import 'plugins/CustomScrollbar.css'
simpleLightBox(simpleLightBox = false)
  if simpleLightBox
    @import 'plugins/simplelightbox.min.css'
izi-toast(izi-toast = false)
  if izi-toast
    @import 'plugins/iziToast.min.css'