//- Fonts functions 
pxMediumBlueLeft-Aligned()
  font-family Roboto
  font-size 22px
  font-weight 500
  line-height 1.45
  color $water-blue


pxMediumBlueLeft-Aligned-2()
  font-family Roboto
  font-size 18px
  font-weight 500
  line-height 1.56
  color $water-blue


pxMediumDarkLeft-Aligned()
  font-family Roboto
  font-size 20px
  font-weight 500
  line-height 1.5
  color $charcoal-grey


pxMediumDarkRight-Aligned()
  font-family Roboto
  font-size 20px
  font-weight 500
  line-height 1.5
  text-align right
  color $charcoal-grey


pxMediumDarkLeft-Aligned()
  font-family Roboto
  font-size 22px
  font-weight 500
  line-height 1.45
  color $charcoal-grey


pxMediumDarkLeft-Aligned()
  font-family Roboto
  font-size 18px
  font-weight 500
  line-height 1.56
  color $charcoal-grey


pxMediumWhiteLeft-Aligned()
  font-family Roboto
  font-size 20px
  font-weight 500
  line-height 1.5
  color $white


pxMediumWhiteLeft-Aligned()
  font-family Roboto
  font-size 22px
  font-weight 500
  line-height 1.45
  color $white


pxMediumGray-75Left-Aligned()
  font-family Roboto
  font-size 16px
  font-weight 500
  line-height 1.5
  color $slate-grey


pxRegularGrey-75Left-Aligned()
  font-family Roboto
  font-size 16px
  line-height 1.5
  color $slate-grey


pxRegularWhiteCentered()
  font-family Roboto
  font-size 16px
  line-height 1.5
  text-align center
  color $white


pxMediumDarkLeft-Aligned()
  font-family Roboto
  font-size 16px
  font-weight 500
  line-height 1.5
  color $charcoal-grey


pxMediumGreenLeft-Aligned()
  font-family Roboto
  font-size 16px
  font-weight 500
  line-height 1.5
  color $medium-green


pxMediumRedLeft-Aligned()
  font-family Roboto
  font-size 16px
  font-weight 500
  line-height 1.5
  color $tomato


pxMediumDarkCentered()
  font-family Roboto
  font-size 16px
  font-weight 500
  line-height 1.5
  text-align center
  color $charcoal-grey


pxMediumDarkCentered()
  font-family Roboto
  font-size 14px
  font-weight 500
  line-height 1.57
  text-align center
  color $charcoal-grey


pxRegularGrey-75Left-Aligned()
  font-family Roboto
  font-size 14px
  line-height 1.57
  color $slate-grey


pxRegularDarkLeft-Aligned()
  font-family Roboto
  font-size 14px
  line-height 1.57
  color $charcoal-grey


pxRegularDarkRight-Aligned()
  font-family Roboto
  font-size 14px
  line-height 1.57
  text-align right
  color $charcoal-grey


pxRegularGrey-50Centered()
  font-family Roboto
  font-size 14px
  line-height 1.57
  text-align center
  color $bluey-grey


pxRegularDarkCentered()
  font-family Roboto
  font-size 14px
  line-height 1.57
  text-align center
  color $charcoal-grey


pxMediumBlueRight-Aligned()
  font-family Roboto
  font-size 14px
  font-weight 500
  line-height 1.57
  text-align right
  color $water-blue


pxMediumDarkLeft-Aligned()
  font-family Roboto
  font-size 14px
  font-weight 500
  line-height 1.57
  color $charcoal-grey


pxMediumGrey-50Left-Aligned()
  font-family Roboto
  font-size 14px
  font-weight 500
  line-height 1.57
  color $bluey-grey


pxMediumBlueLeft-Aligned()
  font-family Roboto
  font-size 14px
  font-weight 500
  line-height 1.57
  color $water-blue


pxRegularGrey-50Right-Aligned()
  font-family Roboto
  font-size 14px
  line-height 1.57
  text-align right
  color $bluey-grey


pxRegularBlue-100Left-Aligned()
  font-family Roboto
  font-size 14px
  line-height 1.57
  color $water-blue


pxRegularWhiteCentered()
  font-family Roboto
  font-size 14px
  line-height 1.57
  text-align center
  color $white


pxMediumStatusPartner()
  font-family Roboto
  font-size 14px
  font-weight 500
  line-height 1.57
  color $tomato


pxRegularDarkCentered()
  font-family Roboto
  font-size 14px
  font-weight 500
  line-height 1.71
  text-align center
  color $charcoal-grey


pxRegularWhiteLeft-Aligned()
  font-family Roboto
  font-size 14px
  line-height 1.57
  color $white


pxRegularGrey-50Left-Aligned()
  font-family Roboto
  font-size 14px
  line-height 1.57
  color $bluey-grey


pxMediumGreenRight-Aligned()
  font-family Roboto
  font-size 14px
  font-weight 500
  text-align right
  color $medium-green


pxRegularBlueCentered()
  font-family Roboto
  font-size 14px
  font-weight 500
  line-height 1.71
  text-align center
  color $water-blue


pxMediumStatusDiamond()
  font-family Roboto
  font-size 14px
  font-weight 500
  line-height 1.57
  color $blue-grey


pxMediumStatusMaster()
  font-family Roboto
  font-size 14px
  font-weight 500
  line-height 1.57
  color $amethyst


pxMediumStatusMember()
  font-family Roboto
  font-size 14px
  font-weight 500
  line-height 1.57
  color $mango


pxMediumStatusInvestor()
  font-family Roboto
  font-size 14px
  font-weight 500
  line-height 1.57
  color $dark-sky-blue


pxMediumStatusHunter()
  font-family Roboto
  font-size 14px
  font-weight 500
  line-height 1.57
  color $medium-green


pxRegularRedLeft-Aligned()
  font-family Roboto
  font-size 12px
  line-height 1.5
  color $tomato


pxRegularGrey-50Left-Aligned()
  font-family Roboto
  font-size 12px
  line-height 1.5
  color $bluey-grey


pxRegularDarkLeft-Aligned()
  font-family Roboto
  font-size 12px
  line-height 1.5
  color $charcoal-grey


pxRegularBlueLeft-Aligned()
  font-family Roboto
  font-size 12px
  line-height 1.5
  color $dark-sky-blue


pxMediumDarkLeft-Aligned()
  font-family Roboto
  font-size 12px
  font-weight 500
  line-height 1.5
  color $charcoal-grey


pxRegularGrey-50Right-Aligned()
  font-family Roboto
  font-size 12px
  line-height 1.5
  text-align right
  color $bluey-grey


pxMediumWhiteLeft-Aligned-Caps()
  font-family Roboto
  font-size 12px
  font-weight 500
  line-height 1.5
  color $white


pxRegularGray-75Left-Aligned()
  font-family Roboto
  font-size 12px
  line-height 1.5
  color $slate-grey


pxMediumDarkCentered-Caps()
  font-family Roboto
  font-size 12px
  font-weight 500
  line-height 1.5
  text-align center
  color $charcoal-grey


pxMediumGrey-50Left-Aligned-Caps()
  font-family Roboto
  font-size 12px
  font-weight 500
  line-height 1.5
  color $bluey-grey


pxRegularGrey-50Centered()
  font-family Roboto
  font-size 12px
  line-height 1.5
  text-align center
  color $bluey-grey


pxMediumWhiteCentered-Caps()
  font-family Roboto
  font-size 12px
  font-weight 500
  line-height 1.5
  text-align center
  color $white


pxMediumWhiteCentered()
  font-family Roboto
  font-size 14px
  font-weight 500
  line-height 1.57
  text-align center
  color $white


pxMediumGray-50Left-Aligned()
  font-family Roboto
  font-size 16px
  font-weight 500
  line-height 1.5
  color $bluey-grey


pxRegularDarkLeft-Aligned()
  font-family Roboto
  font-size 22px
  line-height 1.45
  color $charcoal-grey


pxMediumGrey-75Left-Aligned()
  font-family Roboto
  font-size 14px
  font-weight 500
  line-height 1.57
  color $slate-grey


pxMediumWhiteCentered()
  font-family Roboto
  font-size 16px
  font-weight 500
  line-height 1.5
  text-align center
  color $white


pxRegularDarkLeft-Aligned()
  font-family Roboto
  font-size 16px
  line-height 1.5
  color $charcoal-grey